.form-container .login-container{
    width: 30%;
}

.form-container .login-container form  {
    display: flex;
    align-items:center;
    justify-content:center;
}

.form-container .login-container .bloqueUno,
.form-container .login-container .bloqueDos{
margin:auto 3px;
} 

.form-container .login-container .bloqueUno input{
    width: 20em;
}
.form-container .login-container .bloqueDos input{
    width: 20em;

}

