:root{
    --width:250px;
}

body {
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    padding-left: 52px;
    background-image: url(../Imagenes/fondoTaller.jpg);


}


nav{
    position:fixed;
    height: 100vh;
    display: flex;
    align-items:initial;
    flex-direction: column;
    width: 52px;
    background-color: #04112c;
    overflow: hidden;
    left: 0;
    top: 0;

    transition: width 0.3s ease-in-out;
}

nav:hover {
    width: var(--width);
}

nav .bar {
    background-color: #04112c;
    color: white;
    font-size: 20px;
    display: flex;
    justify-content:center;
    height: 50px;
    display: flex;
    align-items:center;
}

nav .bar:hover{
    background-color: #4464f5;
    color: white;
}

nav .user{
    color: white;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    height: 200px;
    transform: translateX(-300px);
    opacity: 0;
    width:var(--width);
    transition: transform 0.3s ease, opacity 0.3s ease;

}

nav .user img{
    width: 100px;
    margin: 0 auto;
    border-radius: 50%;
}

nav:hover .user {
    transform: translateX(0);
    opacity: 1;
}

nav .links a{
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    width: var(--width);
    overflow: hidden;
    
}
nav .links a .icon{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav .links a:hover {
    background-color: #4464f5;
    color: white;
}

nav .estiloInicio {
    text-decoration: none;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

/* Aqui terminan estilos de nuestra barra lateral*/
/* Aqui Comienzan estilos de nuestra tabla de pedidos*/

table{
   border-spacing: 0;
   border-collapse: collapse;
   width: 800px;
   margin-left: 200px;
   margin-top: 80px;
}

td, th{
    border:solid 3px #000000;
    padding: 5px;
}

tbody tr{
    background: #fafafa10;
    backdrop-filter: blur(0.4rem);
}

td:nth-child(n + 3),
th:nth-child(n + 3){
    text-align: center;
}



tbody tr:hover{
    background-color:#4464f5 ;
}

thead {
    background-color: #04112c;
    color: white;
    position: sticky;
    top: 35.5px;
    z-index: 100;
    margin-top: 0;

}

caption{
    background-color: #04112c;
    color: white;
    font-size: 2.3em;
    position: sticky;
    top: 0px;
    z-index: 200;
}

.tamañoImgPedidos {
    width: 80px;
    height: 80px;
    border-radius: 10%;
}

.tamañoImgPedidos:hover {
    width: 300px;
    height: 300px;
    transition: .2s;
}


/* Aqui Comienzan estilos de nuestra tabla 2 carrito de pedidos*/

.contenedorTablas{
    display: flex;
    align-items: start;
    justify-content:space-between;
}


table td button {
    background: #fafafa00;
    backdrop-filter: blur(0.4rem);
    border-radius: 10%;
    color: rgb(0, 0, 0);
    margin: 5px auto;
    width: 100%;
    height: 50%;
    box-shadow: 0 2px 5px rgb(0, 0, 0);
    font-weight:bolder;
    
}

table td button:hover{
    background-color: white;
    transition: 0.5s;
}

.tablaCarrito{
    padding-left: 30px;
}

.botonesTablas{
    display:block;
}