body{
    margin-left: 10%;
}
/*Estilos Tabla*/

table {
    border-spacing: 0;
    border-collapse: collapse;
    width: 80%;
    margin: 10px auto;
}


td, th{
    border: solid 1px #000000;
    padding: 16px;
    color:white;
}

/*Estilos formulario*/

.contenedorProductos {
    display: flex;
    justify-content: space-around;
    width: 82%;
}

.contenedorFormulario {
    background-color: red;
}

.tituloContenedor{
    font-size: 1.2em;
    margin: 0 auto;
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
}

.contenedorFormulario {
    max-width: 800px;
    margin: 0 auto;
    padding: 50px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 20px;
    backdrop-filter: blur(0.1rem);
    background: #363349af;
    color: white;
}

.contenedorFormulario label {
    display: block;
    margin-bottom: 3px;
    font-weight: bold;
    font-size: 14px;
    color: rgb(181, 179, 179);
}

.contenedorFormulario input {
    width: 100%;
    padding: 4px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
}

.BotonAgregar{
    backdrop-filter: blur(0.1rem);
    background: #363349af;
    color: white;
    font-size: .8em;
    border-radius: 8%;
    cursor: pointer;
    width: 100%;
    padding: 5px;
    margin: 2px;

}

.botonesformulario{
    margin-top: 20px; 
}

.enlacesformulario {
    backdrop-filter: blur(0.1rem);
    background: #0e582079;
    color: white;
    font-size: .7em;
    border-radius: 5%;
    cursor: pointer;
    width: 30%;
    padding: 5px;
    margin: 2px;
    text-decoration: none;
}

.listaProductos{
    backdrop-filter: blur(0.1rem);
    background: #bfddf0a6;
    width: 100%;
    height: 100%;
    font-size: 14px;
    font-weight: 600;
}

tbody tr{
    backdrop-filter: blur(0.1rem);
    background: #0101217b;
    color: rgb(193, 193, 193);
}