body{
    margin-left: 9.3%;
}
/*Estilos Tabla*/

table {
    border-spacing: 0;
    border-collapse: collapse;
    margin: 30px auto;
}


td {
    border: solid 2px #000000;
    padding: 11px;
    color:rgb(202, 201, 201);

}

th{
    border: solid 3px #000000;
    padding: 11px;
    color:white;
    backdrop-filter: blur(0.1rem);
    background: #120e29af;

}
/*Estilos formulario*/


.contenedorProductos {
    display: flex;
    justify-content: space-around;
    width: 80%;
}

.contenedor {
    display: flex;
    align-items:start;
    width: 30%;
}


.tituloContenedor{
    font-size: 1.2em;
    margin: 0 auto;
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
}

.contenedorFormulario {
    max-width: 800px;
    margin: 0 auto;
    padding: 50px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 18px;
    backdrop-filter: blur(0.1rem);
    background: #363349af;
    color: white;
}

.contenedorFormulario label {
    display: block;
    margin-bottom: 3px;
    font-weight: bold;
    font-size: 14px;
    color: rgb(181, 179, 179);
}

.contenedorFormulario input {
    width: 100%;
    padding: 4px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
}

.BotonAgregar{
    backdrop-filter: blur(0.1rem);
    background: #100c27af;
    color: white;
    font-size: .8em;
    border-radius: 8%;
    cursor: pointer;
    width: 100%;
    padding: 5px;
    margin-top: 10px;
}
.BotonAgregar:hover {
    backdrop-filter: blur(0.1rem);
    background: #201e2caf;
}


.btn-editar-producto {
    backdrop-filter: blur(0.1rem);
    background: #100c27af;
    color: white;
    font-size: .9em;
    border-radius: 8%;
    cursor: pointer;
    width: 100%;
    padding: 7px;
    margin: 10px auto;

    text-decoration: none;
}

.btn-eliminar-producto {
    backdrop-filter: blur(0.1rem);
    background: #100c27af;
    color: white;
    font-size: .9em;
    border-radius: 8%;
    cursor: pointer;
    width: 100%;
    padding: 7px;
    margin: 10px auto;

    text-decoration: none;
}

.enlaceBoton{
    text-decoration: none;
    color: white;
}


.botonesformulario{
    margin-top: 20px; 
}

.enlacesformulario {
    backdrop-filter: blur(0.1rem);
    background: #120e29af;
    color: white;
    font-size: .7em;
    border-radius: 5%;
    cursor: pointer;
    width: 30%;
    padding: 5px;
    margin: 2px;
    text-decoration: none;
}

.listaProductos{
    backdrop-filter: blur(0.1rem);
    background: #ebebebaf;
    width: 100%;
    height: 100%;
    font-size: 12px;
    font-weight: 600;
}

tbody tr{
    backdrop-filter: blur(0.1rem);
    background: #0101217b;
    color: rgb(193, 193, 193);
}