body{
    font-family: 'Times New Roman', Times, serif;
    padding: 0;
    margin: 0;
    display: flex;
    align-items:center;
    justify-content:center;
    height: 100vh;
    background-image: url('../Imagenes/imagenMotoClasica.jpg');
    background-size:contain;
    background-attachment: fixed;

}

.form-container{
    background-color: white;
    width: 70%;
    border-radius: 10px;
    overflow: hidden;
    
    height: 70%;
    display: flex;
    align-items: center;
}

.form-container .login-container {
width: 400px;
margin: 0 auto;

}

.form-container .login-container > h2 {
    text-align: center;
    font-size: 2em;
    margin-top: 10px;
}


.estiloLogoInicioSesion {
    width: 5em;
    height: 5em;
    border-radius: 50%;
    padding-left: 42%;
    margin-top: 0px;
}


.form-container .login-container >p,
.form-container .login-container >span{
     text-align: center;
     color: #979595;
}

.form-container .login-container label{
    display: block;
    font-weight: bold;
    padding: 5px 0;
}

.form-container .login-container input.input {
  display: block;  
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  border:solid 1px #ccc;
  border-radius: 5px;
}

.form-container .login-container input.input:focus {
    outline:solid 2px #0099ff ;
}

.form-container .login-container .options {
    display: flex;
    justify-content:  space-between;
    align-items: center ;
}

.form-container  a {
    color: #979595 ;
    text-decoration: none;
}

.form-container  a:hover {
    color: #0099ff;
    font-weight: bold;
}

.form-container .login-container .proveedores{
    display: flex;
   flex-direction: column;
   gap: 10px;
   text-align: center;
   margin-top: 30px;

}

.btn{
    border:none;
     padding: 15px 0;
     width: 100%;
     font-weight: bolder;
     display: block;
     border-radius: 5px;
     text-transform: uppercase;
     cursor: pointer;
}

.btn.btn-login{
    background-color: black;
    color: white;
}

.btn.btn-login:hover {
    background-color: #272727;
}

.btn.btn-Facebook {
 background-color: #050577;
 color: white;
}

.btn.btn-Facebook:hover{
    background-color:#070763;
}

.btn.btn-Google {
 background-color: white;
 color: black;
 border:solid 1px #ccc;
} 

.btn.btn-Google:hover {
    background-color: rgb(240, 240, 240);
}



 
.welcome-screen-container{
    display: flex;           
    justify-content: center; 
    align-items: center;     
    min-height: 100vh;       
    margin: 0;               
    background-color: #000000;
}


video {
    width: 100%;            
    max-width: 600px;       
    height: auto;            
    border: 3px solid #000;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 1500px) {
    .form-container{
        width: 95%;
    }
    
    .form-container .login-container{
        width: 400px;
        margin: 0 auto;
    }

    .form-container .welcome-screen-container {
        width: 40%;
    }
} 

@media screen and (max-width: 800px) {

    .form-container .welcome-screen-container {
        width: 0;
    }
        
    .form-container .login-container {
       width: 350px;
    }

}
